Repository AndreisPurim/MC426, pull requests merged in 2023-04, with the labels that each got.

#18 Closes #14; Closes #8; Read QR Code functionality working
  Frontend/.eslintrc.json
  Frontend/babel.config.json
  Frontend/jest.config.ts
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/Components/Footer.tsx
  Frontend/src/Components/Navbar.js
  Frontend/src/Components/Navbar.tsx
  Frontend/src/Components/QRreader.js
  Frontend/src/Pages/Landing/Landing.js
  Frontend/src/Pages/Landing/Landing.tsx
  Frontend/src/Pages/Login/Login.js
  Frontend/src/Pages/Login/Login.tsx
  Frontend/src/Pages/Login/LoginCard.tsx
  Frontend/src/Pages/Login/SignupCard.js
  Frontend/src/Pages/Login/SignupCard.tsx
  Frontend/src/Pages/Profile/Profile.tsx
  Frontend/src/Pages/Profile/ReadQRCode.js
  Frontend/src/Pages/Profile/ReadQRCode.tsx
  Frontend/src/Pages/Profile/UserCard.tsx
  Frontend/src/Pages/Profile/UserTable.js
  Frontend/src/Pages/Profile/UserTable.tsx
  Frontend/src/Source/example.test.ts
  Frontend/src/Source/example.ts
  Frontend/src/index.js
  Frontend/src/index.tsx
  Frontend/tsconfig.json
  Frontend/yarn.lock
  README.md
Labels: bug, feature, frontend

#21 Feature/api setup
  Backend/config.py
  Backend/controllers/users_controller.py
  Backend/cria_tabelas.py
  Backend/db.sqlite
  Backend/main.py
  Backend/models/__init__.py
  Backend/models/user.py
  Backend/requirements.txt
  Backend/rotas.py
  Backend/testedb.sqlite
  Backend/testes.py
  Backend/tests/__init__.py
  Backend/tests/api/__init__.py
  Backend/tests/api/test_root.py
  Backend/tests/api/test_users.py
  Backend/tests/conftest.py
  Backend/tests/utils/__init__.py
  Backend/tests/utils/users.py
Labels: feature, backend

#23 Added backend testing workflow
  .github/workflows/pytest.yml
Labels: backend

#25 Closes #17; Feature User Login Fullstack
  .github/workflows/backend_cicd.yml
  .github/workflows/cicd.yml
  Backend/.gitignore
  Backend/config.py
  Backend/controllers/users_controller.py
  Backend/cria_tabelas.py
  Backend/db.sqlite
  Backend/main.py
  Backend/models/__init__.py
  Backend/models/user.py
  Backend/requirements.txt
  Backend/rotas.py
  Backend/testedb.sqlite
  Backend/testes.py
  Backend/tests/__init__.py
  Backend/tests/api/__init__.py
  Backend/tests/api/test_root.py
  Backend/tests/api/test_users.py
  Backend/tests/conftest.py
  Backend/tests/utils/__init__.py
  Backend/tests/utils/users.py
  Frontend/jest.config.ts
  Frontend/package.json
  Frontend/src/Components/Footer.tsx
  Frontend/src/Components/Navbar.tsx
  Frontend/src/Pages/Landing/Landing.tsx
  Frontend/src/Pages/Login/Login.tsx
  Frontend/src/Pages/Login/LoginCard.tsx
  Frontend/src/Source/example.test.ts
  Frontend/src/Tests/Footer.test.tsx
  Frontend/src/Tests/Landing.test.tsx
  Frontend/src/Tests/Login.test.tsx
  Frontend/src/Tests/Navbar.test.tsx
  Frontend/src/Tests/Profile.test.tsx
  Frontend/src/Tests/__snapshots__/Footer.test.tsx.snap
  Frontend/src/Tests/example.test.tsx
  Frontend/src/index.tsx
  Frontend/tsconfig.json
  Frontend/yarn.lock
  README.md
  build.sh
Labels: feature, fullstack, AvaliacaoA2

#27 Closes #17; User Login
  .github/workflows/backend_cicd.yml
  .github/workflows/cicd.yml
  Backend/.gitignore
  Backend/config.py
  Backend/controllers/users_controller.py
  Backend/cria_tabelas.py
  Backend/db.sqlite
  Backend/main.py
  Backend/models/__init__.py
  Backend/models/user.py
  Backend/requirements.txt
  Backend/rotas.py
  Backend/testedb.sqlite
  Backend/testes.py
  Backend/tests/__init__.py
  Backend/tests/api/__init__.py
  Backend/tests/api/test_root.py
  Backend/tests/api/test_users.py
  Backend/tests/conftest.py
  Backend/tests/utils/__init__.py
  Backend/tests/utils/users.py
  Frontend/jest.config.ts
  Frontend/package.json
  Frontend/src/Components/Footer.tsx
  Frontend/src/Components/Navbar.tsx
  Frontend/src/Pages/Landing/Landing.tsx
  Frontend/src/Pages/Login/Login.tsx
  Frontend/src/Pages/Login/LoginCard.tsx
  Frontend/src/Pages/Profile/ReadQRCode.tsx
  Frontend/src/Pages/Profile/UserCard.tsx
  Frontend/src/Source/example.test.ts
  Frontend/src/Tests/Footer.test.tsx
  Frontend/src/Tests/Landing.test.tsx
  Frontend/src/Tests/Login.test.tsx
  Frontend/src/Tests/Navbar.test.tsx
  Frontend/src/Tests/Profile.test.tsx
  Frontend/src/Tests/__snapshots__/Footer.test.tsx.snap
  Frontend/src/Tests/example.test.tsx
  Frontend/src/index.tsx
  Frontend/tsconfig.json
  Frontend/yarn.lock
  README.md
  build.sh
Labels: feature, fullstack, AvaliacaoA2

#29 Closes #28, Closes #9; User Signup Feature
  .github/workflows/backend_cicd.yml
  .github/workflows/cicd.yml
  Documentation/Report A1/Atividades.drawio
  Documentation/Report A1/Atividades2.drawio
  Documentation/Report A1/Initial_plan.drawio
  Documentation/Report A1/Iterativo.drawio
  Documentation/Report A1/MC426_A1_ra213095_ra198594.pdf
  Documentation/Report A2/AtividadeA2.md
  Documentation/SVG/1.svg
  Documentation/SVG/2.svg
  Documentation/SVG/3.svg
  Documentation/SVG/bladder.svg
  Documentation/SVG/kidney.svg
  Documentation/SVG/kidney_bad.svg
  Documentation/SVG/renal.svg
  Documentation/SVG/ureter.svg
  Documentation/SVG/ureter_bad.svg
  Frontend/src/Pages/Landing/Landing.tsx
  Frontend/src/Pages/Login/SignupCard.tsx
Labels: fullstack, AvaliacaoA2

#30 Closes #28, Closes #9; User Signup Feature to main
  .github/workflows/backend_cicd.yml
  .github/workflows/cicd.yml
  Documentation/Report A1/Atividades.drawio
  Documentation/Report A1/Atividades2.drawio
  Documentation/Report A1/Initial_plan.drawio
  Documentation/Report A1/Iterativo.drawio
  Documentation/Report A1/MC426_A1_ra213095_ra198594.pdf
  Documentation/Report A2/AtividadeA2.md
  Documentation/SVG/1.svg
  Documentation/SVG/2.svg
  Documentation/SVG/3.svg
  Documentation/SVG/bladder.svg
  Documentation/SVG/kidney.svg
  Documentation/SVG/kidney_bad.svg
  Documentation/SVG/renal.svg
  Documentation/SVG/ureter.svg
  Documentation/SVG/ureter_bad.svg
  Frontend/src/Pages/Landing/Landing.tsx
  Frontend/src/Pages/Login/SignupCard.tsx
Labels: documentation, fullstack, AvaliacaoA2

#31 Hot-fix: Changed Codecov configurations
  Documentation/Report A2/AtividadeA2.md
Labels: documentation, fullstack, AvaliacaoA2
